{% import "macros/icons.html" as icons %}
<!doctype html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Inwentarz{% endblock title %}</title>
        <link rel="stylesheet" href="{{ base_path }}/static/style.css" />
        <script src="{{ base_path }}/static/script.js"></script>
    </head>
    <body>
        {% include "partials/_svg_sprite.html" ignore missing %}
        <nav>
            {% if user %} Zalogowano jako {{ user.name }}
            <a href="{{ base_path }}/web/logout">Wyloguj się</a>
            {% endif %}
        </nav>
        <main>
            {% if notifications %}
            <div class="notifications">
                <h3>Potrzeba uzupełnienia:</h3>
                <ul>
                    {% for notif in notifications %}
                    <li>{{ notif.item_name }}: {{ notif.message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %} {% block content %}{% endblock content %}
        </main>
        <footer>
            <p>&copy; 2025 Matipolit</p>
        </footer>
    </body>
</html>
