
{% extends "base.html" %}

{% block title %}Przedmioty{% endblock title %}

{% block content %}
<h1>Lista przedmiotów</h1>
<div style="display: flex; gap: 4px; align-items: center;">
{% if categories %}
    <input type="checkbox" id="group_by_categories" name="group_by_categories" value="group" {% if group_by_category %}checked{% endif %}>
    <label for="group_by_categories">Grupuj po kategoriach</label><br>
{% endif %}
<a
style="margin: 12px 0px"
class="btn"
href="{{ base_path }}/web/categories/add"
>Nowa kategoria</a
>
</div>

{% if item_amount > 0 %}
    <table>
        <thead>
            <tr>
                <th>Nazwa</th>
                {% if not group_by_category %}
                <th>Kategoria</th>
                {% endif %}
                <th>Ilość</th>
                <th>Próg uzupełnienia</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% if group_by_category %}
                {% for category in grouped_items.categorized %}
                    {% if category.items %}
                        <tr style="background-color: {{ category.color }};">
                            <td colspan="4" style="font-weight: bold; color: {{ category.text_color }};">{{ category.name }}</td>
                        </tr>
                        {% for item in category.items %}
                            <tr style="background-color: {{ category.color | safe }}33; {% if item.quantity < item.restock_threshold %} border-left: 5px solid #C85656; {% endif %}">
                                <td>{{ item.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.restock_threshold }}</td>
                                <td>
                                    <div style="display: flex; gap: 6px; align-items: center; align-content: stretch; flex-wrap: wrap;">
                                        <form action="{{ base_path }}/web/items/use/{{ item.id }}" method="post" style="display:inline;">
                                            <button class="btn-action" type="submit">
                                                {{ icons::svg(name="use", width="20", height="20", aria_label="Use Item", color="#1D171D") }}<span>Użyj</span></button>
                                        </form>

                                        <dialog id="dialog-{{ item.id }}">
                                            <div style="display: flex; gap: 16px; align-items: center; justify-content: space-between;">
                                                <span>Dodaj <b>{{ item.name }}</b></span>
                                                <button class="btn-danger" autofocus>Zamknij</button>
                                            </div>
                                            <form action="{{ base_path }}/web/items/purchase/{{ item.id }}" method="post">
                                                <div>
                                                    <label for="quantity">Ilość:</label>
                                                    <input type="number" id="quantity" name="quantity" value="{{ item.quantity }}" min="1" required>
                                                </div>
                                                <div>
                                                    <button type="submit">Dodaj</button>
                                                </div>
                                            </form>
                                        </dialog>
                                        <button id="button-dialog-{{ item.id }}" class="btn-action">
                                            {{ icons::svg(name="add", width="20", height="20", aria_label="Delete Item", color="#1D171D") }}<span>Dodaj</span>
                                        </button>

                                        <a class="btn btn-edit" href="{{ base_path }}/web/items/edit/{{ item.id }}">
                                            {{ icons::svg(name="edit", width="20", height="20", aria_label="Edit Item", color="#1D171D") }}<span>Edytuj</span>
                                        </a>

                                        <form action="{{ base_path }}/web/items/delete/{{ item.id }}" method="post" style="display:inline;">
                                            <button class="btn-danger" type="submit" onclick="return confirm('Czy na pewno chcesz usunąć {{ item.name }}?');">
                                                {{ icons::svg(name="trash", width="20", height="20", aria_label="Delete Item", color="#1D171D") }}<span>Usuń</span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% if grouped_items.uncategorized %}
                    <tr style="background-color: #80808080;">
                        <td colspan="4" style="font-weight: bold;">Brak kategorii</td>
                    </tr>
                    {% for item in grouped_items.uncategorized %}
                        <tr style="{% if item.quantity < item.restock_threshold %} border-left: 5px solid #C85656; {% endif %}" >
                            <td>{{ item.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.restock_threshold }}</td>
                            <td>
                                <div style="display: flex; gap: 6px; align-items: center; align-content: stretch; flex-wrap: wrap;">
                                    <form action="{{ base_path }}/web/items/use/{{ item.id }}" method="post" style="display:inline;">
                                        <button class="btn-action" type="submit">
                                            {{ icons::svg(name="use", width="20", height="20", aria_label="Use Item", color="#1D171D") }}<span>Użyj</span></button>
                                    </form>

                                    <dialog id="dialog-{{ item.id }}">
                                        <div style="display: flex; gap: 16px; align-items: center; justify-content: space-between;">
                                            <span>Dodaj <b>{{ item.name }}</b></span>
                                            <button class="btn-danger" autofocus>Zamknij</button>
                                        </div>
                                        <form action="{{ base_path }}/web/items/purchase/{{ item.id }}" method="post">
                                            <div>
                                                <label for="quantity">Ilość:</label>
                                                <input type="number" id="quantity" name="quantity" value="{{ item.quantity }}" min="1" required>
                                            </div>
                                            <div>
                                                <button type="submit">Dodaj</button>
                                            </div>
                                        </form>
                                    </dialog>
                                    <button id="button-dialog-{{ item.id }}" class="btn-action">
                                        {{ icons::svg(name="add", width="20", height="20", aria_label="Delete Item", color="#1D171D") }}<span>Dodaj</span>
                                    </button>

                                    <a class="btn btn-edit" href="{{ base_path }}/web/items/edit/{{ item.id }}">
                                        {{ icons::svg(name="edit", width="20", height="20", aria_label="Edit Item", color="#1D171D") }}<span>Edytuj</span>
                                    </a>

                                    <form action="{{ base_path }}/web/items/delete/{{ item.id }}" method="post" style="display:inline;">
                                        <button class="btn-danger" type="submit" onclick="return confirm('Czy na pewno chcesz usunąć {{ item.name }}?');">
                                            {{ icons::svg(name="trash", width="20", height="20", aria_label="Delete Item", color="#1D171D") }}<span>Usuń</span>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% else %}
                {% for item in items %}
                <tr{% if item.quantity < item.restock_threshold %} class="low-stock"{% endif %}>
                    <td>{{ item.name }}</td>
                    <td>
                        {% if item.category %}
                            {{ item.category.name }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.restock_threshold }}</td>
                    <td>
                        <div style="display: flex; gap: 6px; align-items: center; align-content: stretch; flex-wrap: wrap;">
                            <form action="{{ base_path }}/web/items/use/{{ item.id }}" method="post" style="display:inline;">
                                <button class="btn-action" type="submit">
                                    {{ icons::svg(name="use", width="20", height="20", aria_label="Use Item", color="#FFFFFF") }}<span>Użyj</span></button>
                            </form>

                            <dialog id="dialog-{{ item.id }}">
                                <div style="display: flex; gap: 16px; align-items: center; justify-content: space-between;">
                                    <span>Dodaj <b>{{ item.name }}</b></span>
                                    <button class="btn-danger" autofocus>Zamknij</button>
                                </div>
                                <form action="{{ base_path }}/web/items/purchase/{{ item.id }}" method="post">
                                    <div>
                                        <label for="quantity">Ilość:</label>
                                        <input type="number" id="quantity" name="quantity" value="{{ item.quantity }}" min="1" required>
                                    </div>
                                    <div>
                                        <button type="submit">Dodaj</button>
                                    </div>
                                </form>
                            </dialog>
                            <button id="button-dialog-{{ item.id }}" class="btn-action">
                                {{ icons::svg(name="add", width="20", height="20", aria_label="Delete Item", color="#FFFFFF") }}<span>Dodaj</span>
                            </button>

                            <a class="btn btn-edit" href="{{ base_path }}/web/items/edit/{{ item.id }}">
                                {{ icons::svg(name="edit", width="20", height="20", aria_label="Edit Item", color="#FFFFFF") }}<span>Edytuj</span>
                            </a>

                            <form action="{{ base_path }}/web/items/delete/{{ item.id }}" method="post" style="display:inline;">
                                <button class="btn-danger" type="submit" onclick="return confirm('Czy na pewno chcesz usunąć {{ item.name }}?');">
                                    {{ icons::svg(name="trash", width="20", height="20", aria_label="Delete Item", color="#FFFFFF") }}<span>Usuń</span>
                                </button>
                            </form>
                        </div>

                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <a
        style="margin-top: 12px"
        class="btn"
        href="{{ base_path }}/web/items/add"
        >Nowy przedmiot</a
    >
{% else %}
    <p>Brak przedmiotów w inwentarzu.
    <a
        style="margin-top: 12px"
        class="btn btn-edit"
        href="{{ base_path }}/web/items/add"
        >Dodaj przedmiot!</a
    ></p>
{% endif %}

<script>
    document.getElementById('group_by_categories').addEventListener('change', function() {
        document.cookie = `group=${this.checked};path=/`;
        window.location.reload();
    });
</script>
{% endblock content %}
