{% extends "base.html" %} {% block title %}Login{% endblock title %} {% block
content %}
<h1>Zaloguj się</h1>
<form action="{{ base_path }}/web/login" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
    </div>
    <div>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <button type="submit">Zaloguj się</button>
    </div>
</form>
<p>Nie masz konta? <a href="{{ base_path }}/web/signup">Zarejestruj się tutaj</a>.</p>
{% endblock content %}
